# 복사해서 .env 로 쓰고 값 채울 것 (.env 는 .gitignore 됨)
GMAIL_USER=you@gmail.com
GMAIL_APP_PASSWORD=xxxxxxxxxxxxxxxx
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret
PAGES_BASE_URL=https://<github-user>.github.io/daily-briefing
BRIEF_RECIPIENT=linkpooltest2@gmail.com
